body {
    margin: 0 !important; 
    padding: 0 !important;
    background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
    width: 100vw !important;
    
    overflow: hidden !important;
    .container-fluid {
        overflow: auto !important;
        height: 100vh;
        width: 100vw;
        padding: 0 !important;
        margin: 0 !important;
        /*background-image: linear-gradient(to left, #f83600 0%, #f9d423 100%);*/
        
        .header {
            height: 180px;
            margin-top: 30px;
            padding: 0 !important;
            margin: 0 !important;

            .title-header{
                height: 150px;
            }
        }
     
        .container {
            width: 100% !important;
            max-width: 1200px !important;
            margin: 0 !important;
            margin: auto !important;
            padding: 0!important;
            padding-bottom: 30px !important;
            
        }
    }
}


#loading {
    position: absolute;
    top: 42vh;
    left: 45vw;
    z-index: 3000 !important;
    height: 100px;
    width: 120px;
    border-radius: 6px;
    background: radial-gradient(circle, rgba(80, 122, 119, 0.466), rgba(255, 247, 247, 0.664));
  
    box-shadow: rgba(105, 105, 105, 0.342) -3px 5px 5px;
    transform: translateZ(30px) !important;
    transition: ease-in-out 1s;
}




  /* RESPONSIVE DESIGN */


  @media (max-width:550px) {
      .container-fluid .header {
          position: relative;

          .title-header {
              width: 70%;
              height: 60% !important;
          }
      }
  }




