.footer {
    padding: 50px 50px 60px 50px !important;
    margin: 0 !important;
  

    .creditos {
        /*display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px 0;*/
        display: grid;
        grid-template-columns:  repeat(auto-fill, 300px);
        grid-template-rows:  repeat(auto-fill, 170px);
        justify-content: center;
        align-items: center;
        gap: 17px;
    
        .card-footer {
            min-width: auto;
            max-width: 300px;
            height: 170px;
            border-radius: 7px;
            margin: auto;
            text-align: left;
            background-color: #f8f8f8 !important;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }
    } 

}



  /* RESPONSIVE DESIGN */


@media (min-width: 200px) and (max-width: 640px) {
    .footer {
        h3 {
            margin: 20px;
        }
        padding: 0 !important;
        padding-bottom: 25px !important;

        .creditos {
            width: 100%;
            padding: 0 !important;
            position: relative !important;
            margin: 0 !important;
            .card-footer {
                width: 100% !important;
                overflow: hidden;
                margin: 0 !important;
            }
        }
    }
}



