.container-form .form-filter {
  max-width: 300px;
  display: flex;
  padding-left: 5px; }

.container-form .form-filter input {
  width: 100%;
  outline: none !important; }

.container-form .form-filter .btn-search {
  border: none;
  outline: none !important;
  border-radius: 5px;
  padding: 10px;
  background-color: #ee6b2f;
  color: #f8f8f8;
  margin-left: 5px; }

.container-form .form-filter .btn-search .fas {
  font-size: 20px !important; }
