.container .container-pokemon {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(auto-fill, minmax(180px, 270px));
  gap: 15px;
  padding: 0 20px !important;
  margin: 0 !important; }

.card-pokemon {
  height: 270px;
  width: 100%;
  position: relative;
  padding: 0 !important;
  background: linear-gradient(180deg, #d12828 0%, #057a97 100%);
  box-sizing: content-box;
  border-radius: 10px !important;
  transition: 0.3s ease-in;
  margin: 0 !important; }
  .card-pokemon .grid-pk {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    position: absolute; }

.card-pokemon:hover {
  box-shadow: rgba(68, 68, 68, 0.445) -1px 8px 5px !important; }
  .card-pokemon:hover .card--header img {
    transform: translateZ(30px) !important; }

.card-pokemon .card--header {
  width: 100%;
  position: relative; }
  .card-pokemon .card--header img {
    display: block;
    height: 100%;
    margin: auto;
    position: absolute;
    transition: 0.2s ease; }
  .card-pokemon .card--header .id-pokemon {
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    z-index: 100;
    top: 0;
    right: 5px;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Rowdies', cursive;
    text-shadow: rgba(114, 114, 114, 0.4) -3px 3px 5px;
    color: #f8f8f8d7;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-right: 7px; }

.card-pokemon .card--body {
  display: flex !important;
  flex-direction: column;
  display: grid !important;
  grid-auto-columns: 1fr;
  grid-template-rows: 30% 70%; }
  .card-pokemon .card--body .name {
    font-weight: 500;
    height: 100% !important;
    color: #f8f8f8;
    padding-left: 10px; }

/* Type Pokemon */
.card-pokemon .card--body .types-pokemon .type {
  padding: 0px 10px 2px 10px;
  background-color: deeppink;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  color: #f8f8f8;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center; }

/*color de la card por typo de pokemon*/
.type-normal {
  background: radial-gradient(circle, #e9cd73, #ffcd28); }

.type-fire {
  background: #e92b25;
  background: radial-gradient(circle, #b61010f3 10%, #ff2020 100%) !important; }

.type-water {
  background: #75bde0;
  background: #4181af !important;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%) !important; }

.type-grass, .type-bug {
  background-image: linear-gradient(to top, #07a05d 0%, #3cba92 100%); }

.type-poison {
  background: #b424b4 !important; }

.type-dark, .type-ghost {
  background: radial-gradient(circle, #6e6d6d, #555) !important; }

.type-flying {
  background: radial-gradient(circle, rgba(80, 122, 119, 0.466), rgba(255, 247, 247, 0.664)); }

.type-psychic {
  background: radial-gradient(circle, #ecb7b7, #dd4470); }

.type-electric {
  background: radial-gradient(circle, #dbdf17, #f8fc2c); }

.type-ice {
  background: #09e5f5 !important; }

.type-rock {
  background: #7252A7; }

@media (min-width: 401px) and (max-width: 500px) {
  .container-pokemon {
    grid-template-columns: 170px 170px !important;
    grid-template-rows: repeat(auto-fill, 200px) !important;
    gap: 10px !important;
    padding: 0 !important;
    margin: 0 !important; }
    .container-pokemon .card-pokemon {
      height: 200px;
      margin: 0 !important;
      width: 100%; }
      .container-pokemon .card-pokemon .grid-pk {
        grid-template-rows: 60% 40%; }
        .container-pokemon .card-pokemon .grid-pk .card--header img {
          margin-left: 20px; }
      .container-pokemon .card-pokemon .card--body .types-pokemon .type {
        font-size: 12px;
        margin-left: 0; } }

@media (min-width: 280px) and (max-width: 400px) {
  .container-pokemon {
    grid-template-columns: 45vw 45vw !important;
    grid-template-rows: repeat(auto-fill, 190px) !important;
    gap: 10px !important;
    padding: 0 !important;
    margin: 0 !important; }
    .container-pokemon .card-pokemon {
      height: 190px;
      margin: 0 !important;
      width: 100%; }
      .container-pokemon .card-pokemon .grid-pk {
        grid-template-rows: 60% 40%; }
        .container-pokemon .card-pokemon .grid-pk .card--header img {
          margin-left: 20px; }
      .container-pokemon .card-pokemon .card--body .types-pokemon .type {
        font-size: 12px;
        margin-left: 0; } }
